html, body {
  height: 100%;
  margin: 0;
  background-color: #ebedf3;
}
.content {
  min-height: 100%;
  
}
.content-inside {
  padding: 20px;
  padding-bottom: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.footer {
  height: 50px;
  margin-top: -50px;
  position: fixed;
  bottom: 0;
  background: #363cdf;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}
.WAMuiChipInput-chipContainer-8{
  padding-top:5px;
  padding-left: 10px;
}
.WAMuiChipInput-underline-18::before, .WAMuiChipInput-underline-18::after{
  border-bottom: 0px !important;
  padding-top:20px;
}